<% provide(:header, "Contact") %>

<link
  href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
  rel="stylesheet">

  <div>
    <table class="rounded-lg m-5 w-full mx-auto bg-gray-200 text-gray-800 text-center">
      <thead>
      <tr class="border-b-2 border-gray-300">
        <th class="py-3">Date</th>
        <th class="py-3">Name</th>
        <th class="py-3">Email</th>
        <th class="py-3">Message</th>
      </tr>
      </thead>
      <tbody>
      <% @contacts.each do |c| %>
        <tr class="bg-white border-b border-gray-200 ">
          <td class="py-3"><%= c.created_at.strftime("%d.%m.%Y") %></td>
          <td><%= c.name %></td>
          <td><%= c.email %></td>
          <td><%= c.message %></td>
          <td>
            <%= link_to(contact_path(c), data: { "turbo-method": :delete,
                                                     turbo_confirm: "You sure?" }, class: "text-gray-400 hover:text-blue-300 mr-2") do %>
              <i class="material-icons-round text-base">delete_outline</i>
            <% end %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>